<h2>Criar conta</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Digite seu e-mail" %>
  </div>

  <div class="field">
    <%= f.label :Senha %>
    <br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Digite sua senha" %>
  </div>

  <div class="field">
    <%= f.label :confirmação_de_senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , placeholder: "Confirme sua senha"%>
  </div>

  <div class="actions">
    <br>
    <%= f.submit "Criar", class: "btn btn-secondary" %>
  </div>
<% end %>
