<title>Sobre nós</title>
<div id="<%= dom_id friend %>">
  <p>
    <strong>Nome:</strong>
    <%= friend.first_name %>
  </p>

  <p>
    <strong>Sobrenome:</strong>
    <%= friend.last_name %>
  </p>

  <p>
    <strong>e-mail:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= friend.phone %>
  </p>

  <p>
    <strong>Posição:</strong>
    <%= friend.linkedin %>
  </p>

</div>
